body {
	background-size: cover; 
	background-position: center center;
	background-repeat: no-repeat; 
	background-attachment: fixed
  }

#ui-bar {
	display: none;
}
#story{
	margin-left: auto;
}
a {
    color: pink;
}

.background {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
  }