---
import StoriesList from "../components/StoriesList.astro";
import CharactersList from "../components/CharactersList.astro";
---

<div class="character-menu">
    <div class="menu-panel" data-augmented-ui="tl-2-clip-x">
        <StoriesList />
    </div>
    <div class="menu-panel" data-augmented-ui="tr-2-clip-x">
        <CharactersList />
    </div>
</div>

<style>
    .character-menu {
        display: grid;
        gap: 0.5em;
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .menu-panel {
        height: 100%;
        overflow-y: auto;
    }
</style>
