<ul class="characters-list" data-augmented-ui-reset>
    <li data-augmented-ui>
        <div>Coming soon...</div>
    </li>
    <!-- <li data-augmented-ui></li>
        <li data-augmented-ui></li>
        <li data-augmented-ui></li>
        <li data-augmented-ui></li> -->
</ul>

<style>
    ul {
        margin-top: 2.5em;
    }
    li div {
        display: flex;
        height: 100%;
        justify-content: center;
        color: var(--pink);
        align-items: center;
    }

    .characters-list {
        list-style: none;
        height: 100%;
        padding: 16px;
        padding-top: 50px;
        overflow-y: auto;
        scrollbar-width: none;
    }
    .characters-list::-webkit-scrollbar {
        width: 0;
        display: none;
    }

    .characters-list li {
        background: black;
        aspect-ratio: 487 / 650;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
        --aug-clip-tl1: initial;
        --aug-clip-tr1: initial;
        --aug-clip-bl1: initial;
        --aug-clip-br1: initial;
        --aug-tl1: 6vmin;
        --aug-bl1: 2vmin;
        --aug-br1: 2vmin;
        --aug-tr1: 2vmin;
        --aug-border: initial;
        --aug-border-all: 0.25vh;
        --aug-border-bg: var(--pink);
    }

    .characters-list li:nth-child(odd) {
        --aug-tr-inset1: 4vmin;
        --aug-tr1-alt-join-in: initial;
    }
    .characters-list li:nth-child(even) {
        --aug-tr-inset2: 4vmin;
        --aug-tr1-alt-join-out: initial;
    }
</style>
