---
import MainLayout from "../../layouts/MainLayout.astro";
import Menu from "../../components/Menu.astro";
import MenuItem from "../../components/MenuItem.svelte";
import Character from "./Character.svelte";
---

<MainLayout title="Characters" activePanel="top">
  <style>
    div {
      background: white;
      height: 100%;
      padding: 2em;
      margin: auto;
      overflow-y: auto;
    }
  </style>
  <div>
    <Character client:only id="1" />
  </div>
  <Menu slot="menu" title="Menu" client:load>
    <MenuItem />
  </Menu>
</MainLayout>
