---
import MainLayout from "../layouts/MainLayout.astro";
import Story from "../components/Story.astro";
import MenuPanel from "../components/MenuPanel.astro";
let selectedStory = Astro.props.selectedStory || "/stories/none.html";
---

<MainLayout title="Archive">
    <script src={Astro.resolve("index.js")}></script>
    <div class="vertical-acordion bottom">
        <div class="top-panel">
            <Story src={selectedStory} />
        </div>
        <div class="accordion-divider">
            <div
                class="acordion-divider-decoration"
                aria-hidden="true"
                data-augmented-ui="tl-clip l-clip t-clip-x b-clip-x tr-clip r-clip bl-clip br-clip"
            >
            </div>
            <button
                onclick="this.closest('.vertical-acordion').classList.toggle('bottom')"
                data-augmented-ui="all-triangle-up border"></button>
        </div>
        <div class="bottom-panel">
            <MenuPanel />
        </div>
    </div>
</MainLayout>
