---
import MainLayout from "../layouts/MainLayout.astro";
import Story from "../components/Story.astro";
import StoriesPanel from "../components/StoriesPanel.astro";

let selectedStory = Astro.props.selectedStory || "/stories/none.html";

---
<MainLayout title="Lore">
<div class="vertical-acordion bottom">
  <div class="top-panel">
    <div class="video-wrapper">
    <div class="story-container"
        data-augmented-ui="bl-clip-inset br-clip-inset tl-2-clip-xy tr-2-clip-xy l-rect r-rect t-clip"
      >
      <div class="video-decoration-glow">
        <div aria-hidden="true" class="augmented-video-decoration"
          data-augmented-ui="bl-clip-inset br-clip-inset tl-2-clip-xy tr-2-clip-xy l-rect r-rect t-clip"
        ></div>
      </div>
	<Story src={selectedStory} />
    </div>
      <!-- <video controls="" autoplay="" name="media" loop=""
        data-augmented-ui="bl-clip-inset br-clip-inset tl-2-clip-xy tr-2-clip-xy l-rect r-rect t-clip"
      >
        <source src="https://i.imgur.com/3JU9H2Y.mp4" type="video/mp4" />
      </video>
      <div class="video-decoration-glow">
        <div aria-hidden="true" class="augmented-video-decoration"
          data-augmented-ui="bl-clip-inset br-clip-inset tl-2-clip-xy tr-2-clip-xy l-rect r-rect t-clip"
        ></div>
      </div>
      <p class="video-text-overlay">
          Here are some bullet points about the design
        * 2 panel accordion
        *  each taking most of the viewport when it is shown
        * first panel is a video player with text overlay
        * second panel is a 2 column panel
        * the collapsed panel will only contain a toolbar with a few buttons
      </p> -->
    </div>
  </div>
  <div class="accordion-divider">
    <div class="acordion-divider-decoration"
      aria-hidden="true"
      data-augmented-ui="tl-clip l-clip t-clip-x b-clip-x tr-clip r-clip bl-clip br-clip"
    ></div>
    <button onclick="this.closest('.vertical-acordion').classList.toggle('bottom')"
      data-augmented-ui="all-triangle-up border"
    ></button>
  </div>
  <div class="bottom-panel">
    <h1 class="stories-header" data-augmented-ui="tl-clip l-clip">Stories</h1>
    <StoriesPanel />
    <h1 class="characters-header" data-augmented-ui="tr-clip r-clip">Characters</h1>
    <div class="characters-panel" data-augmented-ui="tr-2-clip-x">
      <ul class="characters-list" data-augmented-ui-reset>
        <li data-augmented-ui></li>
        <li data-augmented-ui></li>
        <li data-augmented-ui></li>
        <li data-augmented-ui></li>
        <li data-augmented-ui></li>
      </ul>
    </div>
  </div>
</div>
</MainLayout>