---
import MainLayout from "../layouts/MainLayout.astro";
import Menu from "../components/Menu.astro";
import MenuItem from "../components/MenuItem.astro";
let story = Astro.props.selectedStory || "/stories/none.html";
---

<MainLayout title="Archive">
    <div class="video-wrapper">
        <div
            class="iframe-wrapper"
            data-augmented-ui="bl-clip-inset br-clip-inset tl-2-clip-xy tr-2-clip-xy l-rect r-rect t-clip"
        >
            <iframe id="story" src={story} onload="storyLoaded()" client:load></iframe>
        </div>
        <div class="video-decoration-glow">
            <div
                aria-hidden="true"
                class="augmented-video-decoration"
                data-augmented-ui="bl-clip-inset br-clip-inset tl-2-clip-xy tr-2-clip-xy l-rect r-rect t-clip"
            >
            </div>
        </div>
    </div>

    <Menu slot="menu">
        <MenuItem icon="bi bi-building" title="Welcome to Dimm City" action="selectStory('Introduction')">
            An introduction to the world of Dimm City where the Sporos live
        </MenuItem>
        <MenuItem icon="bi bi-cpu-fill" title="Prologue - Scene 1">compiling...</MenuItem>
        <MenuItem icon="bi bi-terminal" title="Prologue - Scene 2">generating...</MenuItem>
        <MenuItem icon="bi bi-safe" title="Locked">identity unknown</MenuItem>
    </Menu>
    <script src={Astro.resolve("index.ts")}></script>
    <style>
        iframe {
            width: 100%;
            height: 100%;
            clip-path: inherit;
            border: 0;
        }
    </style>
</MainLayout>
