---
import MainLayout from "../layouts/MainLayout.astro";
import Menu from "../components/Menu.astro";
import MenuItem from "../components/MenuItem.astro";
---

<MainLayout title="Sporos" activePanel="top">
    <div class="video-wrapper">
        <div
            class="iframe-wrapper"
            data-augmented-ui="bl-clip-inset br-clip-inset tl-2-clip-xy tr-2-clip-xy l-rect r-rect t-clip"
        >
            
Sporos
        </div>
        <div class="video-decoration-glow">
            <div
                aria-hidden="true"
                class="augmented-video-decoration"
                data-augmented-ui="bl-clip-inset br-clip-inset tl-2-clip-xy tr-2-clip-xy l-rect r-rect t-clip"
            >
            </div>
        </div>
    </div>

    <Menu slot="menu">
        <MenuItem icon="bi bi-search" title="Find all Sporos" action="">
            An introduction to the world of Dimm City where the Sporos live
        </MenuItem>
        <MenuItem icon="bi search-heart" title="Find your Sporos"></MenuItem>        
    </Menu>
</MainLayout>
