<div class="characters-panel" data-augmented-ui="tr-2-clip-x">
      <ul class="characters-list" data-augmented-ui-reset>
        <li data-augmented-ui>
        <div>Coming soon...</div>
        </li>
        <!-- <li data-augmented-ui></li>
        <li data-augmented-ui></li>
        <li data-augmented-ui></li>
        <li data-augmented-ui></li> -->
      </ul>
    </div>
    <style>
    ul {
        margin-top: 2.5em;
    }
        li div {
            display: flex;
            height: 100%;
            justify-content: center;
            color: var(--pink);
            align-items: center;
        }
    </style>