---
---

<div class="story-menu">
    <div class="story-items" data-augmented-ui-reset>
        <div data-augmented-ui onclick="selectStory('intro/Introduction')" client:visible>
            <p>Welcome to Dimm City</p>
            <small>An introduction to the world of Dimm City where the Sporos live</small>
        </div>
        <div data-augmented-ui onclick="selectStory('prologue/Prologue')">
            <p>Prologue - Scene 1</p>
            <small>The story begins...</small>
        </div>
        <div data-augmented-ui onclick="selectStory('help/Help')">
            <p>Help</p>
            <small>A quick tutorial on how to use this reader</small>
        </div>
        <div data-augmented-ui>
            <p><i class="bi bi-x-octagon"></i>Locked</p>
            <small>identity unknown</small>
        </div>
    </div>
</div>

<style>
    .story-menu {
        margin: 5em 3em 0;
        overflow-y: auto;
        width: 100%;
    }
    .story-items {
        display: grid;
        grid-gap: 3em;
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
        list-style: none;
        overflow-y: auto;
        scrollbar-width: none;
    }
    .story-menu::-webkit-scrollbar {
        width: 0;
        display: none;
    }
    .story-items div {
        height: 8em;
        cursor: pointer;
        padding: 1em;
        min-height: 20%;
        font-size: 2.5vh;
        color: white;
        overflow: hidden;
        opacity: 0.75;
        text-shadow: 0 0 0.25vh black, 0 0 0.25vh black;
        transition: all var(--quick-in);
        --aug-clip-tl1: initial;
        --aug-clip-tr1: initial;
        --aug-clip-bl1: initial;
        --aug-clip-br1: initial;
        --aug-border: initial;
        --aug-border-all: 0.25vh;
        --aug-tl1: 1vh;
        --aug-tr1: 2vh;
        --aug-br1: 1vh;
        --aug-bl1: 1vh;
        --aug-border-bg: radial-gradient(circle at top left, var(--pink) 40px, transparent 50px),
            radial-gradient(circle at top right, var(--blue) 20px, transparent 30px),
            radial-gradient(circle at bottom right, var(--pink) 40px, transparent 50px),
            radial-gradient(circle at bottom left, var(--blue) 20px, transparent 30px);

        --aug-inlay: initial;
        --aug-inlay-bg: #ffffff17;
        background-color: transparent;
    }
    .story-items div:hover,
    .story-items div:focus {
        --aug-border-all: 0.35vh;
        background-color: #ffffff37;
        opacity: 1;
    }

    .story-items small {
        font-size: 0.7em;
    }

    @media (max-width: 768px) {
        .story-menu {
            margin: 0em 1.5em 0;
        }
        .story-items {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1em;
            padding-top: 3em;
        }
    }
    @media (max-width: 480px) {
        .story-menu {
            margin: 0em 1.5em 0;
        }
        .story-items {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 0.8em;
            padding-top: 3em;
        }
    }
</style>
