<div class="search-bar">
    <input type="text" placeholder="search" name="search" />
    <button>Show All</button>
</div>
<ul class="story-items" data-augmented-ui-reset>
    <li data-augmented-ui onclick="selectStory('intro/Introduction')" client:visible>
        <p>Welcome to Dimm City</p>
        <small>An introduction to the world of Dimm City where the Sporos live</small>
    </li>
    <li data-augmented-ui onclick="selectStory('prologue/Prologue')">
        <p>Prologue - Scene 1</p>
        <small>The story begins...</small>
    </li>
    <li data-augmented-ui onclick="selectStory('help/Help')">
        <p>Help</p>
        <small>A quick tutorial on how to use this reader</small>
    </li>
</ul>

<script> </script>

<style>
    .search-bar {
        white-space: nowrap;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        filter: drop-shadow(0 0 1vh var(--pink));
        gap: 5px;
    }
    .search-bar input {
        padding: 8px;
        width: 65%;
        background: none;
        border: 2px solid var(--pink);
        border-radius: 50px;
        color: white;
        text-shadow: 0 0 0.25vh black, 0 0 0.25vh black;
    }
    .search-bar input::placeholder {
        color: white;
        opacity: 0.5;
        text-shadow: 0 0 0.25vh black, 0 0 0.25vh black;
    }
    .search-bar button {
        cursor: pointer;
        padding: 8px;
        padding-top: 6px;
        background: transparent;
        color: white;
        text-shadow: 0 0 0.25vh black, 0 0 0.25vh black;
        border: 2px solid var(--blue);
        border-radius: 50px;
    }

    .story-items {
        list-style: none;
        overflow-y: auto;
        scrollbar-width: none;
        padding: 0px 16px;
    }
    .story-items::-webkit-scrollbar {
        width: 0;
        display: none;
    }
    .story-items li {
        cursor: pointer;
        margin-bottom: 24px;
        padding: 8px;
        min-height: 20%;       
        font-size: 2.5vh;
        color: white;
        text-shadow: 0 0 0.25vh black, 0 0 0.25vh black;
        --aug-clip-tl1: initial;
        --aug-clip-tr1: initial;
        --aug-clip-bl1: initial;
        --aug-clip-br1: initial;
        --aug-border: initial;
        --aug-border-all: 0.25vh;
        --aug-tl1: 1vh;
        --aug-tr1: 2vh;
        --aug-br1: 1vh;
        --aug-bl1: 1vh;
        --aug-border-bg: radial-gradient(circle at top left, var(--pink) 40px, transparent 50px),
            radial-gradient(circle at top right, var(--blue) 20px, transparent 30px),
            radial-gradient(circle at bottom right, var(--pink) 40px, transparent 50px),
            radial-gradient(circle at bottom left, var(--blue) 20px, transparent 30px);
    }
    .story-items li:hover,
    .story-items li:focus {
        --aug-border-all: 0.35vh;
    }
</style>
